<head>
	<style type="text/css">
		.img-div { height:100%; width:100%;}
		img { max-width:100% }
		a { color:blue; text-decoration:none;} 
		    
	</style>
</head>
<div id="mailsub" class="notification" align="center"  style="width:100%;background-size:contain;background-repeat:no-repeat;" background="https://lh4.googleusercontent.com/fjmQRRX19vyBEXtEsrk0jxT9vDD1QOaQ9On9ynLcqWgTqWEqkF5MXySanZAPM5TRDIgL_Kkz6_f9558=w1847-h961-rw">

	
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:320px;" background="http://www.graphicsfuel.com/wp-content/uploads/2014/09/polygon-background9-preview.jpg"><tr><td align="center" >
		<table border="0" cellspacing="0" cellpadding="0" class="table_width_100" width="100%" style="max-width: 680px; min-width: 300px;">
			<tr><td>
				<!-- padding at the top of the page -->
				<div style="height:80px; line-height:80px; font-size: 10px;"></div>
			</td></tr>
			<!--header -->
			<tr><td align="center" bgcolor="white">
				<!-- padding -->
				<div style="height: 30px; line-height: 30px; font-size: 10px;"></div>
				<!-- padding -->
			</td></tr>
			<!--header END-->

			<!--content  -->
			<tr><td align="center" bgcolor="white">
				<table width="90%" border="0" cellspacing="0" cellpadding="0">
					<tr><td>
						<div class="img-div">
							<img src="http://kurukshetra.org.in/img/k%20logo_black.png" />
						</div>
					</td></tr>
					<tr><td align="center">
						<!-- padding --><div style="height: 30px; line-height: 60px; font-size: 10px;"> </div>
						<div style="line-height: 44px;">
							<span style="font-family: Arial, Helvetica, sans-serif; font-size: 32px; color:black;">
								Event List - CSE and IT
							</span>			
						</div>
						<!-- padding --><div style="height: 20px; line-height: 20px; font-size: 10px;"> </div>
					</td></tr>
					<tr><td align="center">
						<div style="line-height: 24px;">
							<!--<span style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; color:black;">	
								Name:   <%= @user.name %><br>
								Contact Number:   <%= @user.contactNumber %><br><br>
							</span>
							-->
							
							<span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #808080;">	
								Greetings from the College of Engineering, Guindy, Anna University, Chennai!<br>
							</span>
							<span style="font-family: Arial, Helvetica, sans-serif; font-size: 19px; color:#454545;">	
							<br>
<br>We would like to thank you for your interest in Kurukshetra .We are pleased to inform you that our annual International Techno-Management fest Kurukshetra is back, bigger and better. The 11th edition of <b>Kurukshetra</b> will be held from <b>15th to 18th February, 2017.</b> 
<br><br>
The fest is first of its kind to be certified with <b>ISO 9001:2015</b> and under the patronage of <b>UNESCO</b> and under the support of  <b>Digital India, National e-Governance Division</b> and the <b>Ministry of Electronics and Information Technology, Government of India.</b> 
<br><br>
The official website of this technical extravaganza is the <b>first in the Nation</b> to employ <b>Virtual Reality</b>. Do visit our official <a href="http://www.kurukshetra.org.in/" target="_blank">website</a> to get amazed by the virtual reality. Come and be a part of the fest to witness a gamut of fresh and mind-intriguing <b>30+ events, 4+ guest lectures, 10+ workshops and 5+ Karnival events and win 10+ lakhs.</b>
<br><br>
</span>
<br>	
			<div style="text-align:left">
			<span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color:black;">The following is a list of Events and Workshops, which might excite you. <br><br><br>
							</span>

			<span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4c4648;">
<b><center><a href="http://kurukshetra.org.in/events.php#Online" target="_blank">ONLINE EVENTS</a> (Cash Prize worth 60k):</center></b><br>

1. <b><a href="http://www.sherlock.kurukshetra.org.in/" target="_blank">Sherlock</a></b> - Get a team-mate, and try to be the best detective pair, ever in the history of literature - Feb 4-6. <br><br>

2. <b>OLPC</b> - Event to showcase your Competitive Programming skills - Feb 3<br><br>

3. <b><a href="http://ros.kurukshetra.org.in/" target="_blank">Riddles Of Sphinx</a></b> - Get ready to solve mind-boggling riddles with RoS - Trial Run (Feb 1-3) Main Run(Feb 7 -11)<br><br><br>
			</span>
			<span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4c4648;">
<b><center><a href="http://kurukshetra.org.in/events.php#Coding">CODING EVENTS</a> (Cash Prize worth 1.5 lakhs):</center></b><br>

1. <b>Tame The Code:</b> Debugging is an art of finding the crime, where you are the murderer. Do you possess the skill to solve such crimes? Then, this is the right event for you. <br><br>

2. <b>Ninja Coding:</b>  Code your way through from a high pressure from the environment, and prove to be the CodeMeister. <br><br>

3. <b>OSPC:</b> ACM-ICPC Style event.<br><br>

4. <b>Hackathon:</b> Solve real world problems by hacking your way through them. An event to test your Development Skills. <br><br>

5. <b>Datathon:</b> Do patterns in data fascinate you? Then, this is the best event for you.<br><br><br>
</span>
<span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4c4648;">
<b><center><a href="http://kurukshetra.org.in/events.php#Management"target="_blank">MANAGEMENT EVENTS</a> (Cash Prize worth 70k):</center></b><br>

1. <b>Mad Over Marketing:</b> Showcase your Marketing Skills in the ultimate fight, to be the best Marketing Manager at K! <br><br>

2. <b>Return On Investments:</b> Business is all about Investments, and a good businessman is one who gets maximum return on his investment. Showcase your business skills, and be the best businessman at K!<br><br>

3. <b>Chaos Theory:</b> Find a way through system that gets drowned in Chaos, and emerge as the best Crisis Manager! <br><br><br>
</span>
<span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4c4648;">
<b><center><a href="http://kurukshetra.org.in/events.php#Extravaganza"target="_blank">EXTRAVAGANZA</a> (Cash Prize worth 60k):</center></b><br>
1. <b>Alcatraz:</b> Breakout from the toughest prison on the face of this planet. <br><br>
 
2. <b>Vices and Virtues:</b> Play India's Oldest Board Game, at Kurukshetra'17.<br><br>

3. <b>Word Wars:</b> Get Spelling, and take the crown of the best speller at Kurukshetra.<br><br><br>

</span>
<span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4c4648;">
<b><center><a href="http://kurukshetra.org.in/index.php#Workshops"target="_blank">WORKSHOPS</a></center></b><br>
1. <b>Wall Street Hacks:</b> Learn to the best Stock Trader, here at Kurukshetra. (Rs 500 per head)<br><br>
 
2. <b>DIY Solar Lantern:</b> Learn to make a Solar Lantern, for a good cause, at Kurukshetra. (Rs 500 per head)<br><br>

3. <b>CISCO Networking Security:</b> Learn to secure the networks, from any external attacks. (Rs 1000 per head)<br><br>

4. <b>IBM Machine Learning:</b> Learn the art of interpreting data, and using them for ones own benefit. (Rs 1000 per head)<br><br><br>
</span>
<span style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: #4c4648;">
For any queries, send a mail to <a href="mailto:events@kurukshetra.org.in" target="_blank">events@kurukshetra.org.in.</a><br><br>
For more details on Event Format and Rules visit <a href="http://kurukshetra.org.in/#events" target="_blank" >Events Page.</a><br>
<br>
Regards, 
<br>
Tharunya<br>
(+91 99425 82259)<br>
Student Director, CEG Tech Forum<br>
</span>

			</div>
			
							
							<span style="font-family: Arial, Helvetica, sans-serif; font-size: 22px; color: #333460;">	
								<br>For regular updates, follow us on :<br>
								<div class="mob_center_bl" style="width: 250px;">
									<table border="0" cellspacing="10" cellpadding="0">
										<tr><td align="center" style="line-height: 30px;">
											<a href="https://www.facebook.com/kurukshetra.org.in" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
												<img src="https://goo.gl/wnQmky" width="30" height="30" alt="Facebook" border="0" style="display: block;" />
											</a>
										</td><td align="center" style="line-height: 30px;">
										<a href="https://twitter.com/kurukshetra_ceg" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
											<img src="https://goo.gl/sw0OBG" width="30" height="30" alt="Twitter" border="0" style="display: block;" />
										</a>
									</td><td align="right" style="line-height: 30px;">
									<a href="https://www.linkedin.com/company/ceg-tech-forum" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
										<img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" width="30" height="30" alt="LinkedIn" border="0" style="display: block;" />
									</a>
								</td><td align="right" style="line-height: 30px;">
								<a href="https://www.instagram.com/kurukshetra_ceg/" target="_blank" style="color: #596167; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
									<img src="http://3835642c2693476aa717-d4b78efce91b9730bcca725cf9bb0b37.r51.cf1.rackcdn.com/Instagram_App_Large_May2016_200.png" width="30" height="30" alt="Instagram" border="0" style="display: block;" />
								</a>
							</td></</tr>
						</table>
					</div>
				</span>
				<br>
				<span style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color:black;">
				P.S: Please pass on this mail to your all your college students. 
				Apply for the position of <a href="http://www.sa.kurukshetra.org.in/">Student Ambassador</a> with Kurukshetra, to explore new frontiers.
				</span>
			</td>
			</tr>

		</table>		
	</td></tr>
	<!--content END-->
	
	<!--footer -->
	<tr><td class="iage_footer" align="center" bgcolor="white">
		<!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"> </div>	

		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr><td align="center">
				<span style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
					Copyright 2017 @ CEG Tech Forum. All rights reserved.
				</span>
			</td></tr>			
		</table>

		<!-- padding --><div style="height: 30px; line-height: 30px; font-size: 10px;"> </div>	
	</td></tr>
	<!--footer END-->
	<tr><td>
		<!-- padding --><div style="height: 80px; line-height: 80px; font-size: 10px;"></div>
	</td></tr>
</table>
</td></tr>
</table>
</div> 
